// Smallest phones (landscape view)
$extra-small-mobile-max: 359px; 

// Small mobile phones (landscape view)
$small-mobile-max: 576px; 

// Small tablets and large smartphones (landscape view)
$mobile-screen-max: 766px;

// Small tablets (portrait view)
$tablet-screen-max: 992px;
