// Small mobile phones (landscape view)
$small-mobile-max: 576px; 

// Large smartphones (landscape view)
$mobile-screen-min: 577px;
$mobile-screen-max: 766px;

// netbook (portrait view)
$netbook-screen-min: 767px;
$netbook-screen-max: 1200px;

// netbook (height)
$netbook-height-max: 700px;