@import 'breakpoints';

// RESPONSIVE BREAKPOINTS MEDIA QUERIES
// ------------------------------------

// Small and medium mobile
@mixin mobile {
    @media (max-width: #{$small-mobile-max}) {
        @content;
    }
}

// Large mobile devices
@mixin large-mobile {
    @media (min-width: #{$mobile-screen-min}) and (max-width: #{$mobile-screen-max}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin netbook {
    @media (min-width: #{$netbook-screen-min}) and (max-width: #{$netbook-screen-max}) {
        @content;
    }
 }
 
// Height for netbooks, mobile and tablets (widescreen)
@mixin widescreen {
    @media (max-height: #{$netbook-height-max}) {
        @content;
    }
}

// PAGE LAYOUTS CONFIGURATION
// --------------------------

// Main page column config
@mixin page-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include mobile {
        flex-direction: column;
    }

    @include large-mobile {
        flex-direction: column;
    }

    @include netbook {
        flex-direction: column;
    }
}

@mixin page-column-div {
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin: 20px;

    @include mobile {
        width: auto;
    }

    @include large-mobile {
        width: auto;
    }

    @include netbook {
        width: auto;
    }
}

@mixin page-text {
    font-size: 1.5rem;
    background-color: white;
    border: 2px solid $green-color-dark;
    padding: 30px;

    @include mobile {
        font-size: 1rem;
        padding: 10px;
    }

    @include large-mobile {
        font-size: 1.3rem;
        padding: 20px;
    }

    @include netbook {
        font-size: 1.5rem;
        padding: 30px;
    }
}

@mixin page-image {
    filter: grayscale(70%);
    border: 2px solid $green-color-dark;
    max-width: 800px;

    @include mobile {
        max-width: 300px;
    }

    @include large-mobile {
        max-width: 500px;
        margin-bottom: 30px;
    }
}