@import 'config';
@import 'mixins';
@import '../styles/Home.scss';

.homepage-main {
    @include page-column;
}

.homepage-main div {
    @include page-column-div;
}

.homepage-text {
    @include page-text;
}

.homepage-image img {
    @include page-image;
}


.icon-column {
    position: flex;
    display: inline-block;
    max-width: 300px;
    min-height: 100px;
    padding-bottom: 20px;
    margin: 50px 40px 20px 40px;
    text-align: inherit;

    &:last-child {
        margin-bottom: 50px;
    }

    @include mobile {
        padding-bottom: 0;
        margin: 20px 30px 2px 30px;
    }

    @include large-mobile {
        padding-bottom: 10px;
        margoina: 40px 30px 5px 30px;
    }

    @include netbook {
        padding-bottom: 10px;
        margin: 70px 30px 5px 30px;
    }
}

.icon-icons img {
    align-self: center;
    max-width: 5rem;
    padding: 20px 0;
    animation: pulse 1s infinite;

    @keyframes pulse {

        0% {
            transform: scale(1);
        }

        90% {
            transform: scale(.99);
        }

        100% {
            transform: scale(1);
        }


    };

    @include mobile {
        max-width: 2.5rem;
        padding: 0;
    }

    @include large-mobile {
        max-width: 3.5rem;
    }

    @include netbook {
        max-width: 4rem;
        padding: 20px 0;
    }
}

.icon-text {
    display: flex;
    font-size: 1.5rem;
    color: $icons-green-color;
    padding-bottom: 0;

    @include mobile {
        font-size: 1rem;
    }

    @include large-mobile {
        font-size: 1.2rem;
        padding-bottom: 0;
    }

    @include netbook {
        font-size: 1.4rem;
        padding-bottom: 0;
    }
}