@import 'config';
@import 'mixins';

.button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border-color: $green-color-dark;
    background-color: $button-bg-color;
    
    text-transform: uppercase;
    font-family: $main-font;
    color: $green-color-dark;
    cursor: pointer;
    margin-bottom: 30px;
    transition: 1s;

    &:hover {
        background-color: $button-bg-hover-color;
        color: #000000;
        transition: 1s;
    }

    @include mobile {
        width: 70px;
        height: 30px;
        font-size: 16px;
    }

}