@import 'config';
@import 'mixins';

.construction-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    width: auto;

    @include mobile {
        flex-direction: column;
        width: auto;
    }

    @include large-mobile {
        flex-direction: column;
        width: auto;
    }
}

.recommendations-text {
    font-size: 30px;

    @include mobile {
        font-size: 24px;
    }
}

.recommendations-under-construction img {
    max-width: fit-content;

    @include mobile {
        max-width: 240px;
    }
}