@import 'mixins';
@import 'config';

.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.footer-block {
    background-color: $green-color-dark; 

    &__logo {
        width: 25%;
    }

    &__logo img {
        height: 64px;
        margin-right: 2rem;
        padding-top: 5px;
        cursor: pointer;
        transition: 1s;
    
        &:hover {
            transform: translateX(3px);
            transition: 1s;
        }
    
        @include mobile {
            height: 32px;
        }        
    }

    &__info {

        &-first {
            width: 50%;
        }

        &-second {
            width: 25%;
        }

        &-first,
        &-second {
        color: $footer-font-color;
        
    
        & p {
            width: auto;
        }
    
        @include mobile {
            font-size: .5rem;
        }
    
        @include large-mobile {
            font-size: .8rem;
        }
    
        /* @include widescreen {
            font-size: 1rem;
        } */
    }
    }
}




