@import 'mixins';
@import 'config';

.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.footer {
    background-color: $green-color-dark; 
    
    /* @include widescreen {
        max-height: auto;
    } */
}

.footer-logo img {
    height: 64px;
    margin-right: 2rem;
    padding-top: 5px;
    cursor: pointer;
    transition: 1s;

    &:hover {
        transform: translateX(3px);
        transition: 1s;
    }

    @include mobile {
        height: 32px;
    }

    /* @include widescreen {
        height: 48px;
    } */

    
}

.footer-info__paragraph {
    color: $footer-font-color;
    font-size: 1.3rem;
    line-height: 1.2;

    & p {
        width: fit-content;
    }

    @include mobile {
        font-size: .45rem;
    }

    @include large-mobile {
        font-size: .8rem;
    }

    /* @include widescreen {
        font-size: 1rem;
    } */
}

.footer-icons img {
    margin-left: 2rem;
    height: 30px;
    transition: .5s;

    &:hover {
        cursor: pointer;
        height: 34px;
        transition: .5s;
    }

    @include mobile {
        height: 16px;
        margin-left: .7rem;
    }

    /* @include widescreen {
        height: 24px;
    } */

}