@import 'config';
@import 'mixins';

.header {
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.685)), to(rgba(254, 255, 254, 0.664))), url(../images/bg-image.jpeg);
    background-image: linear-gradient(rgba(226, 226, 226, 0.274), rgba(61, 61, 61, 0.679)), url(../images/bg-image.jpeg);
    background-size: cover;
    background-position: center;

    &-main__logo {
        display: flex;
        justify-content: center;
        font-family: $logo-font;
        color: #ffffff;
        font-size: 16rem;
        text-shadow: 2px 2px 2px $main-font-color;

        @include extra-small-mobile {
            font-size: 3.5rem;
            padding: 30px 0 20px 0;
        }

        @include small-mobile {
            font-size: 5rem;
            padding: 40px 0 20px 0;
        }

        @include mobile {
            font-size: 6rem;
            padding: 30px 0 10px 0;
        }

        @include tablet {
            font-size: 7.5rem;
            padding: 50px 0 30px 0;
        }

    }
}

