@import 'mixins';
@import 'config';


.icon-column {
    position: flex;
    display: inline-block;
    max-width: 300px;
    min-height: 100px;
    padding-bottom: 20px;
    margin: 50px 40px 20px 40px;
    text-align: inherit;

    @include extra-small-mobile {
        display: block;
        margin: 10px auto;
        padding: 10px;
    }

    @include small-mobile {
        display: block;
        margin: 10px auto;
    }

    @include mobile {
        display: block;
        margin: 10px auto;
    }
}

.icon-icons img {
    align-self: center;
    max-width: 5rem;
    padding: 20px 0;
    animation: pulse 1s infinite;
    
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
    
        90% {
            transform: scale(.99);
        }
    
        100% {
            transform: scale(1);
        }
    }

    @include extra-small-mobile {
        max-width: 2rem;
        padding: 5px 0;
    }

    @include small-mobile {
        max-width: 2.5rem;
        padding: 5px 0;
    }

    @include mobile {
 
    }
}


.icon-text {
    display: flex;
    font-size: 1.5rem;
    color: $icons-green-color;
    padding-bottom: 30px;

    @include extra-small-mobile {
        font-size: 1rem;
        padding-bottom: 5px;
    }

    @include small-mobile {
        font-size: 1.3rem;
    }

    @include mobile {
 
    }
}