@import 'config';
@import 'mixins';

.info-banner {
    width: 420px;
    height: 40px;
    font-size: 30px;
    
    text-transform: uppercase;
    font-family: $main-font;
    color: $green-color-dark;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: $green-color-medium;


    @include mobile {
        width: 300px;
        height: 20px;
        font-size: 16px;
    }

    @include large-mobile {
        width: 400px;
        height: 30px;
        font-size: 20px;
    }

}